* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

.container {
  width: 1320px;
  margin: 0px auto;
  padding: 0px 16px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -16px;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.col-padding {
  padding: 0px 8px;
}

/* common class */
.d-flex {
  display: flex;
}

.alin-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.justify-between{
  justify-content: space-between;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.calculator {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-box-shadow: -3px -1px 50px 70px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px -1px 50px 70px rgba(0,0,0,0.75);
  box-shadow: -3px -1px 50px 70px rgba(0,0,0,0.75);
  background-color: #fefdab;
}

.display {
  height: 100px;
  background-color: #563939;
  color: #fff;
  text-align: right;
  padding: 10px;
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
 
}

.input {
  min-height: 50%;
}

.result {
  min-height: 50%;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  padding: 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  background-color: #f6d5a3;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #0056b3;
}

.equals {
  grid-column: span 4;
}



